.gradle
/build/
/out/
/jmother-core/build/
/jmother-core/out/
/jmother-modelmapper/build/
/jmother-modelmapper/out/
/jmother-testmodel/build/
/jmother-testmodel/out/
/object-mother/build/
/object-mother/out/
.idea

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
